@import url('https://fonts.googleapis.com/css?family=Caveat');


:root {
    --color-1: hsl(28, 12%, 87%);
    --color-1a: hsla(28, 12%, 87%, 0.85);
    --color-2: hsl(0, 0%, 9%);
    --color-3: hsl(0, 0%, 100%);
    --color-3a: hsla(0, 0%, 0%, 0.8);
    --color-4: hsl(0 , 0% , 96%);
    --color-5: rgb(235, 235, 235);
    --color-6: rgb(245, 245, 245);

    
    --space-1: 5vw;
    --space-2: 6vw;
    --space-3: 50px;
    
    font-size: 10px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0;
    
}


html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: var(--color-2);
    background-color: var(--color-3);
    overflow-x: hidden !important;
    width: auto !important;
}



a {
    color: var(--color-2);
}

a:hover {
    text-decoration: underline;
    background-color: var(--color-1);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Caveat;
}
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 3.75rem;
}
h3 {
    font-size: 2.75rem;
}
h4 {
    font-size: 2rem;
}


main {
    max-width: 1100px;
    margin-top: 100px;
}


address {
    font-style: normal;
}

/* Use for hiding elements */


/* Responsive fonts */
p, a, li, address, button {
    font-size: 1.6rem;
}

@media screen and (min-width: 450px) {
  p, a, li, address, button{
    font-size: calc(1.6rem + 0.15vw);
  }

    h1 {
        font-size: calc(4.5rem + 1vw);
    }
    h2 {
        font-size: calc(3.75rem + 0.75vw);
    }
    h3 {
        font-size: calc(2.75rem + 0.6vw);
    }
    h4 {
        font-size: calc(2rem + 0.5vw);
    }

}

@media screen and (min-width: 900px) {
     p, a, li, address, button {
        font-size: 1.7rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 4.1rem;
    }
    h3 {
        font-size: 3.2rem;
    }
    h4 {
        font-size: 2.2rem;
    }


}