/* GENERAL */

footer {
    background-color: var(--color-2);
    color: var(--color-3);
    padding-bottom: 0px;
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Div wrapping the footer, except last child (social media links) */
footer > div:first-child {
    padding: 2.5rem;
    width: 100%;
    max-width: 1080px;
}

footer h3 {
    text-align: start;
    margin-bottom: 10px;
    margin-top: 2.5rem;
}

footer a {
    color: var(--color-3);
}
footer a:hover,
footer a:active {
    background-color: rgba(255,255,255,0);
}

/* NAVIGATION MENU */

footer .menu-container {
    margin-bottom: 0.5rem;
}

/* navigation items */
footer nav li {
    list-style-type: none;
    color: var(--color-3);
    margin-right: 2.5rem;
    line-height: 2;
}

/* navigation layout */
footer nav ul {
    display: flex;
    flex-wrap: wrap;
}


/* navigation menu links */
footer nav li a {
    text-decoration: none;
}
footer nav li a:hover {
    background-color: rgba(158, 141, 141, 0.1);
    text-decoration: revert;
}
footer nav li a:active {
    background-color: rgba(158, 141, 141, 0.2);
    text-decoration: revert;
}

/* Horizontal line */
 hr {
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 2.5px;
    border-width: 1px;
}


/* MIDDLE CONTAINER */

/* spacing of container*/
footer .middle-container {
    margin-bottom: 2.5rem;
}

/* links */
footer .middle-container a:hover {
    background-color: rgba(255,255,255,0.1);
}
footer .middle-container a:active {
    background-color: rgba(255,255,255,0.2);
}


/* SOCIAL MEDIA CONTAINER */

/* container for social media links */

.social-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102.5vw;
    height: 60px;
    margin-left: -2.5rem;
    background-color: var(--color-1);
    border-bottom: 8px solid var(--color-2)
}

/* social media buttons */
.social-links-container i {
    font-size: 31px;
    padding: 16px;
    color: var(--color-2);
    transition: all 0.1s;
}
.social-links-container i:hover {
    opacity: 0.7;
    cursor: pointer;
}
.social-links-container i:active {
    opacity: 0.4;
}

@media screen and (min-width: 750px) {

    footer .middle-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
    }

    footer .middle-container > div {
        width: 50%;
    }

}