
/* HEADER */

/* Position header elements */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--color-3);
    z-index: 100;
    border-bottom: 0.5px solid var(--color-7);
    box-shadow: 0px 0.5px 5px var(--color-7);
}


/* Logo */

.logo-container a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);

}

header .logo {
    max-width: 140px;
    padding: 7px 15px 2.5px;
    transition: 0.5s;
    
}

/* Position menu container */

header .menu-container{
    position: relative;
    height: 50px;
    width: 50px;
}



/* Navigation menu in the header */

header nav .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 90px;
    width: 100vw;
    height: calc(100vh + 30px);
    top: -30px;
    right: -100vw;
    transition: 0.4s ease;
}

header ul li {
    line-height: 4; 
    list-style-type: none;
    border-radius: 1px;
    word-break: normal;
}

header nav a {
    text-decoration: none;
    color: var(--color-2);
    position: relative;
    border-radius: 2px;
    padding: 10px;
}

header nav li a:hover {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    font-weight: bold;
}
header nav li a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 0px;
    border-bottom: 2px solid var(--color-2);
    transition: all 0.4s ease;
}
header nav li a:hover::after {
    width: 100%;
}

/* Current page menu decoration */
header nav li.current a {
    font-weight: bold;
}

header nav li.current a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 100%;
    border-bottom: 2px solid var(--color-2);
    transition: all 0.4s ease;
}
/* Show navigation menu on clicking the hamburger */

header .toggler:checked ~ nav > ul {
    right: 0px;
}

/* Hamburger */

header .toggler {
    position: absolute;
    top: 0;
    right: 1.5rem;
    z-index: 102;
    width: calc(40px + 0.8vw);
    height: calc(40px + 0.8vw);
    cursor: pointer;
    opacity: 0;
    
}

.hamburger {
    position: absolute;
    top: 0;
    right: 1.5rem;
    width: calc(40px + 0.8vw);
    height: calc(40px + 0.8vw);
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.hamburger div {
    position: relative;
    width: 100%;
    height: 2.5px;
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5px;

}

/* Top and bottom lines */

.hamburger div::before,
.hamburger div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: inherit;    
    top: calc(-6px - 0.3vw);
    transition: all 0.2s;
    border-radius: 2.5px;

}
/* Moves line down */

.hamburger div::after {
    top: calc(6px + 0.3vw);
}

/* Hide middle line on click */

header .toggler:checked + .hamburger div {
    height: 0px;
}

/* Rotate top and bottom hamburger lines */

header .toggler:checked + .hamburger div::before {
    top: 0px;
    transform: rotate(45deg);
}

header .toggler:checked + .hamburger div::after {
    top: 0px;
    transform: rotate(-45deg);
}

@media screen and (min-width: 750px) {

    header .logo {
        max-width: 150px;
    }

    header .toggler,
    header .hamburger {
        display: none;
    }

    header .menu-container {
        width: auto;
        height: auto;
    }
    

    header nav .menu {
        padding-top: revert;
        height: revert;
        right: revert;
        top: revert;
        position: static;
        display: flex;
        flex-direction: row;
        width: revert;
    }

    header .menu li {
        margin-right: 2.5rem;
    }


}