
/* AGE GROUP SECTION */

main {
    margin-top: 75px;
}

.all-classes-container{
    display: none;
}
.all-classes-container.active,
.classpage-container.active {
    display: block;
    transition-property: opacity;
    animation-name: fade-out-in;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
}

@keyframes fade-out-in {
    0% { opacity: 0 ; }
    100% { opacity: 1; }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    padding-bottom: 5rem;

}

section:nth-child(even){
    background-color: var(--color-7);
}

/* HOLDER FOR ALL CARDS */

.all-cards-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    'card1'
    'card2'
    'card3';
    grid-auto-rows: 1fr;
    max-width: 1080px;
}

.all-cards-wrapper .card:nth-child(1) {
    grid-area: card1;
}
.all-cards-wrapper .card:nth-child(2) {
    grid-area: card2;
}
.all-cards-wrapper .card:nth-child(3) {
    grid-area: card3;
}

/* INDIVIDUAL CARD */

.card {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1fr;
    position: relative;
    padding: 1rem;
    overflow: hidden;
    align-items: center;
    height: 100%;
    border-top: 1px solid rgba(180, 180, 180, 0.2);
    border-radius: 4px;
    background-color: var(--color-3);
    box-shadow: 0 7px 5px -5px rgba(119, 82, 82, 0.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);
}

/* Title */
.card h3 {
    margin-bottom: 10px;
    text-align: start;
}

/* Link */
.dance-class-button-container {
    float: right;
    position: absolute; 
    bottom: 1rem;
    right: 1rem;
}

/* Image */
.card img {
    width: 100%;
    padding-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
    max-width: 160px;
}


@media screen and (min-width: 750px) {
    
    section {
        padding: 2.5rem 5rem 9rem;
    }

    .all-cards-wrapper{
        grid-template-areas:
        'card1 card2 card3';
        grid-auto-columns: 1fr;
        gap: 2.5rem;
    }
    
    .card {
        display: grid;
        grid-template-columns: 1fr;
        overflow:visible;
        gap: 2.5rem;
        padding: 2.5rem;
        margin-top: 10%;
        max-width: 340px;
    }
    .card h3 {
        margin-bottom: 2.5rem;
        margin-top: -25%;
        text-align: center;font-size: 30px;
    }    
    .card p {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .card .dance-class-button-container {
        float: none;
        position: static;
        display: flex;
        justify-content: center;
    }

    .card a {
        padding: 8px 16px;
        background-color: var(--color-1);
        border-radius: 2px;
        text-decoration: none;
    }
    .card a:hover {
        color: var(--color-7);
        background-color: var(--color-2);
        /* text-decoration: underline;
        text-decoration-color: var(--color-7); */
    }
    .card a:active {
        opacity: 0.5;
    }
    
    .dance-class-image-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -25%;
        width: 100%;
        margin-bottom: calc(12% + 0.5rem);
    }
    
    .card img {
        padding: 0 20%;
        min-width: 170px;
        max-width: 270px;
    }
    
}