.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--container-padding-1);

}

.card > div {
    margin-right: 10px;
}

.dance-class-icon-container {
    width: 25vw;
    height: 25vw;
    max-height: 140px;
    /* border-radius: 50%; */
    background-image: url("../../images/icons/mini-balerinas.jpg");
}
    


.dance-class-info-container {

}

.dance-class-button-container {
    display: flex;
    align-items: flex-end;
    margin-right: 0px;
}