
.all-classes-container, classpage-container{
    display: none;
}

.active {
    display: block;
    transition-property: opacity;
    animation-name: fade-out-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes fade-out-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

/* Section holding classes - organized by age group */
section {
    padding: var(--space-2) var(--space-1);
}

/* Odd sections */

section:nth-child(odd) {
    background-color: var(--color-1);
}
section:nth-child(odd) .card {
    background-color: rgba(255, 255, 255, 0.5);
}


/* Even section */

section:nth-child(even) {
    background-color: var(--color-6);
}
section:nth-child(even) .card {
    background-color: var(--color-5);
}


/* Classes heading */

section h2 {
    text-align: center;
}

section > div:first-child a {
    text-decoration: none;
}

/* Age group subheading */

section > div:first-child h3 {
    text-align: center;
    margin-top: -15px;
}

/* Card wrapper */

.card-wrapper {
    overflow: hidden;
    margin: var(--space-1) 0;
}

/* Class card */

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    
}

/* Class divs - card icon and info */

.card > div {
    margin-right: 15px;
}

.card h4 {
    margin-top: -5px;
}

/* Ribbon - Opening Soon */

.opening-soon::before {
    content: "Opening Soon";
    position: absolute;
    color: var(--color-3);
    background-color: red;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1px 100px 2px 115px;
    top: 45px;
    left: -111px;
    transform: rotate(-45deg);
}

.dance-class-info-container {
    width: 100%;
}

/* Image in card */

.dance-class-icon-container {
    background-position: center;
}

.card img {
    object-fit: contain;
    width: 22vw;
    max-width: 120px;
    border-radius: 50%;
}



/* Button */

.dance-class-button-container {
    float: right;
    margin-bottom: 2px;
}


/* INDIVIDUAL CLASS */


/*  */


/* Banner */
.classpage-banner-container {
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-3) var(--space-2);
    line-height: 1.2;
}

/* Add border to box containing title and age group */

.classpage-banner-container .classpage-banner-box {
    border: 5px solid var(--color-1a);
    padding: 5px;

}

/* Box holding title of the class and age group */
.classpage-banner-container .classpage-banner-box div {
    background-color: var(--color-1a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 190px;
    padding: 20px;
}

.classpage-banner-box h2{
    padding-bottom: 10px;
}

.classpage-info-container {
    padding: var(--space-1);
    padding-bottom: 0px;
}

.classpage-info-container > div {
    padding-bottom: var(--space-1);
}
