/* GENERAL */

main {
    display: flex;
    justify-content: center;
}

/* Outer containers */
main > div > div {
    display: flex;
    justify-content: center;
}

/* Inner containers */
.banner-inner-container,
.contact-inner-container,
.social-inner-container,
.address-inner-container,
.map-inner-container {
    max-width: 1080px;
    padding: 2.5rem;
}

.banner-outer-container,
.contact-outer-container,
.social-outer-container,
.map-outer-container {
    border-bottom: 1px solid var(--color-7);
}

/* PAGE HEADING */

/* Banner container */
.banner-outer-container {
    /* height: 40vh; */
    /* height: 300px; */
    display: flex;
    align-items: center;
    width: 100vw;
    background-image: url("../../images/studio/IMG_20210520_145022_699.jpg");
    background-position: center;
    background-size: cover;
    padding: 5rem;
    max-width: 1920px;

}

.banner-inner-container {
    transform: translateY(10.5px);
    border: 4px solid rgba(255, 255, 255, 0.8);
    padding: 5px;
}

.banner-inner-container > div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2.5rem;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    max-width: 500px;

}

/* CONTACT US AND SOCIAL MEDIA */
/* position */
.contact-inner-container address,
.social-inner-container address {
    display: flex;
    align-items: center;
}
.contact-inner-container i,
.social-inner-container i {
    font-size: 30px;
    margin-right: 10px;
}

/* decoration */
.contact-inner-container a:first-child:hover,
.social-inner-container a:first-child:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    opacity: 0.6;
}

.contact-inner-container a:hover,
.social-inner-container a:hover {
    background-color: rgba(0,0,0,0);
    opacity: 0.7;
}

/* MAP */

.map-inner-container {
    width: calc(100% - 2.5rem * 2);
    padding-bottom: 66%;
    position: relative;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.map-inner-container iframe {
    width: calc(100%);
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

/* GALLERY CONTAINER */

/* Layout */
.small-images-container {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: auto auto;
    padding: 2.5rem;
}

/* PHOTOS */

/* Photo wrapper */
[data-type="photos"] {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Photo container */
[data-type="photos"] > div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s;
}

/* Photo hover */
[data-type="photos"] > div:hover {
    width: 110%;
    height: 110%;
}

/* WIDE-SCREEN VIEW */

@media screen and (min-width: 750px) {
    /* PAGE LAYOUT */
    .page-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* column-gap: 15rem; */
        justify-items: end start;
        grid-template-areas: 
        "banner banner"
        "contact social"
        "address address"
        "gallery gallery"
        "map map";
    }
    .banner-outer-container {grid-area: banner;} 
    .contact-outer-container {grid-area: contact;}
    .social-outer-container {grid-area: social;}
    .address-outer-container {grid-area: address;}
    .map-outer-container {grid-area: map;}
    .gallery-outer-container {grid-area: gallery;}

    /* spacing and alignment */
    .contact-outer-container {
        justify-self: end;
        max-width: 56rem;
        width: 100%;
    }
    .social-outer-container {
        justify-self: start;
        max-width: 56rem;
        width: 100%;
    }
    
    .contact-inner-container,
    .social-inner-container {
        width: 100%;
    }

     /* titles  */
    .contact-inner-container h2,
    .social-inner-container h2 {
        text-align: start;
    }
    
    /* BORDERS AND COLOURS */

    /* Borders */
    .banner-outer-container,
    .contact-outer-container,
    .social-outer-container,
    .map-outer-container {
        border-bottom: none;
    }

    /* Colours */
    .address-inner-container {
        border-top: 1.5px solid var(--color-7);
    }
    .map-outer-container {    
        background: linear-gradient(to bottom, var(--color-3) 70%, var(--color-2) 70% );
        padding: 2.5rem;
    }
    .gallery-outer-container {
        background-color: var(--color-3);
    }
    /* BANNER */
    
    .banner-inner-container > div{
        min-height: 220px;
        max-width: 450px;
    }

    /* MAP */
    .map-outer-container {
        width: 100vw;
    }
    .map-inner-container {
        padding-bottom: 450px;
    }

    /* GALLERY */

    /* Layout */
    .small-images-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        padding: 2.5rem 0;
    }
   
    /* Filter */
    .tabs h3 {
        font-size: 30px;
    }

    /* Photo wrapper */
    [data-type="photos"] {
        height: 21vw;
        max-height: 250px;
        width: 21vw;
        max-width: 250px;
        overflow: hidden;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: span 2;
        justify-self: center;
    }

    /* Video wrapper */
    [data-type="videos"] {
        position: relative;
        grid-column: span 4;
    }

}

/* HIDE AND SHOW ITEMS */

/* Hide gallery items */
[data-type] {
    display: none;
}

/* Show gallery items */
.visible {
    display: flex;
    transition-property: opacity;
    animation-name: fade-out-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}