/* GENERAL */

/* Top margin to create space for header */
main {
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Inner container */
main > div > div  {
    padding: 2.5rem;
    border-bottom: 1px solid var(--color-7);
}
/* BANNER */

.classpage-banner-container {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    background-image: url("../../images/banners/ballerinas.webp");

}

/* Frame around title */
.classpage-banner-box {
    transform: translateY(10.5px);
    margin: 0px 2.5rem;
    border: 4px solid rgba(255, 255, 255, 0.8);
    padding: 5px;
}

/* Box holding the title */
.classpage-banner-box > div {
    background-color: var(--color-1b);
    padding: 2.5rem;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 600px;
}
/* Title */
.classpage-banner-box h1 {
    margin-bottom: 1rem;
}


/* CONTACT DETAILS AREA */

/* Prevent anchor from wrapping to avoi */
.links-wrapper address a {
    white-space: nowrap;
}

/* Wrapper for links and icon to email, social etc */
.find-us-page-social-wrapper {
    display: flex;
    align-items: center;
}

/* Social media icons */
main i::before {
    font-size: 30px;
    margin-right: 10px;
}

/* LOCATION */

.map-outer-wrapper {
    background: linear-gradient(to bottom, var(--color-3) 30%, var(--color-2) 30% );
    /* padding-bottom: rem; */
    color: var(--color-2);
    width: 100vw; 
    display: flex;
    justify-content: center;

}

/* div wrapping the map */
.map-container {
    width: 100%;
    padding-top: 75%;
    height: 0px;
    position: relative;
}

/* map */
.map-outer-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 7px 5px -5px rgba(119, 82, 82, 0.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);
}

/* GALLERY */

.gallery-container {
    padding-bottom: 2.5rem;
    /* background-color: var(--color-1); */
}

.gallery-container > div {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    margin: auto;
}

/* Display images as a grid */
.gallery-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    width: 100%;
}


/* Div wrapping the image */
.image-wrapper {
    height: 40vw;
    width: 100%;
    overflow: hidden;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports (aspect-ratio: 1) {
    .image-wrapper {
        height: auto;
        aspect-ratio: 1;
    }
}

/* Div holding the image*/
.image-container {
    height: 100%;
    width: 100%;
    background-position: center ;
    background-size: cover;
    transition: all 0.4s;
    /* cursor: pointer; */
}

/* Zoom on hover  */
.image-container:hover {
    height: 110%;
    width: 110%;
}


/* Choose images to be displayed */
.image-wrapper:nth-child(1) .image-container {
    background-image: url("../../images/gallery/Street Dance 1 (Small).jpg");
}
.image-wrapper:nth-child(2) .image-container {
    background-image: url("../../images/gallery/Street Dance 2 (Small).jpg");
}
.image-wrapper:nth-child(3) .image-container {
    background-image: url("../../images/gallery/Ballet 1 (Small).jpg");
}
.image-wrapper:nth-child(4) .image-container {
    background-image: url("../../images/gallery/Ballet 18 (Small).jpg");
}
.image-wrapper:nth-child(5) .image-container {
    background-image: url("../../images/gallery/Ballet 1 (Small).jpg");
}
.image-wrapper:nth-child(6) .image-container {
    background-image: url("../../images/gallery/Ballet 18 (Small).jpg");
}

@media screen and (min-width: 750px) {

    /* Center content */
    /* main> div {
        display: flex;
        justify-content: center;
    } */
    /* main > div >div {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    /* Inner container */
    main > div > div  {
        padding: 2.5rem;
        border-bottom: none;
    }

    /* .desktop-only { display: block;}
    .mobile-only { display: none;} */


    /* Title */
    main > div:first-child {
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        max-width: 1920px;
    }



    .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1080px;
        margin: auto;
        padding-bottom: 3.5rem;
        padding-top: 2.5rem;
        border-bottom: 1px solid var(--color-7);
    }

    .location-wrapper {
        display: grid;
        grid-template-areas: 
        "address address"
        "gallery map";
        max-width: 1080px;
        text-align: center;
    }

    .address-wrapper {
        grid-area: address;
    }
    .map-outer-wrapper {
        grid-area: map;
        max-width: 500px;
    }
    .gallery-container {
        grid-area: gallery;
    }

    .map-outer-wrapper {
        background: none;
        display: block;
    }


    .map-container {
        max-width: 1080px;
        
    }

    /* GALLERY */

    /* grid - 3 columns */
    .gallery-container > div {
        display: flex;
        flex-direction: column;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
        /* grid-gap: 2rem; */
        margin-top: 0px;
    }

    /* Div wrapping the image */
    .image-wrapper {
        height: 20vw;
        max-height: 200px;
        width: 20vw;
        max-width: 200px;
        overflow: hidden;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @supports (aspect-ratio: 1) {
        .image-wrapper {
            height: auto;
            width: 100%;
            max-width: revert;
            max-height: revert;
            aspect-ratio: 1;
        }
    }

    /* Div holding the image*/
    .image-container {
        height: 100%;
        width: 100%;
    }

    /* Zoom on hover  */
    .image-container:hover {
        height: 110%;
        width: 110%;
    }
    /* Link to view more photos */
    .gallery-container .view-more {
        grid-column: 1 / 4;
    }

    /* Show last two photos on desktop */
    .desktop-only {
        display: unset;
    }

      /* LOCATION */

    /* location container */
    .find-us-page-location-container {
        /* background: linear-gradient(to left, var(--color-1) 60%, var(--color-2) 60% ); */
        background: var(--color-3);
        padding-top: 4rem;
        /* border: none; */
    }

    .find-us-page-location-container h2 {
        text-align: start;
    }

    .location-info-wrapper{
        padding-left: 2rem;
        min-width: 33%;
    }

    /* div inside location container */
    .find-us-page-location-container > div{
        display: flex;
        flex-direction: row;
        padding-bottom: 2.5rem;
        width: 100%;
    }
    /* div containing address and contact info */
    .find-us-page-location-container > div:first-child{
        margin-top: revert;
    }

    /* container holding the map */
    .map-container {
        margin: 0px 2.5rem;
        width: 100%;
        padding-top: 40%;
        height: 0px;
        position: relative;
    }

    /* map */
    .map-container iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 7px 5px -5px rgba(119, 82, 82, 0.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);
    }

    .gallery-container{
        padding-top: 0;
        margin-top: 0;
    }

    
}