/* GENERAL */

@keyframes fade-out-in {
    0% { opacity: 0 ;}
    100% { opacity: 1; }
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* TITLE */
.gallery-title-container{
    padding: 2.5rem
}

/* FILTER  MENU*/

/* Filter container */
.gallery-filter-container {
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
}

/* Filter buttons */
.tabs button {
    background: var(--color-1);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-top: 4px solid var(--color-1);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.tabs button:hover,
.tabs button.active {
    background-color: var(--color-3);
}

/* GALLERY CONTAINER */

/* Layout */
.small-images-container {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: auto auto;
    padding: 2.5rem;
}

/* PHOTOS */

/* Photo wrapper */
[data-type="photos"] {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

/* Photo container */
[data-type="photos"] > div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s;
}

/* Photo hover */
[data-type="photos"] > div:hover {
    width: 110%;
    height: 110%;
}

/* VIDEOS */
[data-type="videos"] {
    grid-column: 1 / 3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: calc(720px);
    max-height: (720px * 0.5625);
}
[data-type="videos"] > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

[data-type="videos"] iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}



@media screen and (min-width: 750px) {

    /* Layout */
    .small-images-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        /* gap: 3rem; */
        /* max-width: calc(290px); */
        /* padding: 4rem 2.5rem; */
    }
   
    /* Filter */
    .tabs h3 {
        font-size: 30px;
    }

    /* Photo wrapper */
    [data-type="photos"] {
        height: 21vw;
        max-height: 230px;
        width: 21vw;
        max-width: 230px;
        overflow: hidden;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: span 2;
        justify-self: center;
    }
    /* Video wrapper */
    [data-type="videos"] {
        position: relative;
        grid-column: span 4;

    }

}

/* HIDE AND SHOW ITEMS */

/* Hide gallery items */
[data-type] {
    display: none;
}

/* Show gallery items */
.visible {
    display: flex;
    transition-property: opacity;
    animation-name: fade-out-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
