/* GENERAL */

@keyframes fade-out-in {
    0% { opacity: 0 ;}
    100% { opacity: 1; }
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* TITLE */
.gallery-title-container{
    padding: 2.5rem
}

/* FILTER  MENU*/

/* Filter container */
.gallery-filter-container {
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
}

/* Filter buttons */
.tabs button {
    background: var(--color-1);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-top: 4px solid var(--color-1);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.tabs button:hover,
.tabs button.active {
    background-color: var(--color-3);
}

/* GALLERY CONTAINER */

/* Layout */
.gallery-grid {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: auto auto;
    padding: 2.5rem;
}

/* PHOTOS */

/* Photo wrapper */
[data-type="photo"] {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Photo container */
[data-type="photo"] > div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s;
}

/* Photo hover */
[data-type="photo"] > div:hover {
    width: 110%;
    height: 110%;
}

/* VIDEOS */
[data-type="video"] {
    grid-column: 1 / 3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: calc(720px);
    max-height: (720px * 0.5625);
}
[data-type="video"] > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

[data-type="video"] iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* FULL SCREEN GALLERY */

.fullscreen-container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-2);
    z-index: 200;
    transition-property: display;
    animation-name: fade-out-in;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    display: none;
    width: 100vw;

}
.fullscreen-container.active {
    display: block;
}

/* Fullscreen images container */


.fullscreen-images-container {
    display: flex;
    overflow: auto;
    flex: none;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100vh - 71px);
    scroll-snap-type: x mandatory;
}

/* Fullscreen images */

.fullscreen-image {
    height: 100%;
    max-height: 720px;
    min-width: 100vw;
    background-color: rgba(0,0,0,0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    z-index: 205;
    margin: 0 2.5rem;
    margin-top: -71px;
    position: relative;
    
}

/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Arrow */
.fullscreen-arrows {
    display: none;
}

/* All buttons */
.fullscreen-buttons {
    color: var(--color-7);
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1.5rem;
    max-width: 100vw;
}
.fullscreen-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullscreen-buttons a:hover {
    background-color: rgba(0,0,0,0);
}

/* Counter */
.gallery-location-counter {
    font-size: 19px;
    
}

/* Download button */

.fullscreen-buttons i {
    font-size: 30px;
    color: var(--color-1);
    display: block;
}
.fullscreen-buttons i:hover,
.fullscreen-buttons i:active {
    color: var(--color-7);
}

/* Close button */
.fullscreen-buttons svg {
    fill: var(--color-1);
    cursor: pointer;
    height: 30px;
}
.fullscreen-buttons svg:hover,
.fullscreen-buttons svg:active {
    fill: var(--color-7)
}

/* SPINNER */

.spinner {
    display: none;
}

.spinner.active {
    display: block;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border: 8px solid var(--color-1a);
    border-radius: 50%;
    border-top: 8px solid var(--color-7);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1.3s linear infinite; /* Safari */
    animation: spin 1.3s linear infinite;
}



@media screen and (min-width: 750px) {

    /* Layout */
    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        /* gap: 3rem; */
        /* max-width: calc(290px); */
        /* padding: 4rem 2.5rem; */
    }
   
    /* Filter */
    .tabs h3 {
        font-size: 30px;
    }

    /* Photo wrapper */
    [data-type="photo"] {
        height: 21vw;
        max-height: 230px;
        width: 21vw;
        max-width: 230px;
        overflow: hidden;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: span 2;
        justify-self: center;
    }
    /* Video wrapper */
    [data-type="video"] {
        position: relative;
        grid-column: span 4;



    }
    
    /* FULLSCREEN */
/* 
    .fullscreen-image {
        align-items: flex-start;
        margin-bottom: 150px;
    } */

    /* arrows */
    .fullscreen-arrows {
        position: absolute;
        display: flex;
        justify-content: space-between;
        left: 50%;
        top: 50vh;
        transform: translate(-50%, -75%);
        width: 100%;
        max-width: 1200px;
        z-index: 206;
    }
    .arrow {
        /* position: absolute; */
        /* left: 10;
        z-index: 500; */
        font-size: 30px;
        width: 50px;
        background-color: rgba(0,0,0,0.4);
        color: var(--color-7);
        cursor: pointer;
        margin: 0 2.5rem;
        text-align: center;
        border-radius: 3px;
    }
    .arrow:hover{
        background-color: rgba(0,0,0,0.9);
        color: var(--color-7);
    }

}

/* HIDE AND SHOW ITEMS */

/* Hide gallery items */
[data-type] {
    display: none;
}

/* Show gallery items */
.visible {
    display: flex;
    transition-property: opacity;
    animation-name: fade-out-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@media screen and (max-height: 480px) {

    .fullscreen-arrows {
        transform: translate(-50%, -100%);
        
    }

    .fullscreen-images-container {
        top: 0;
        height: 100vh;
    }
    .fullscreen-buttons {
        position: absolute;
        top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        width: 100vw;
    }

    .fullscreen-buttons > div {
        z-index: 206;
        background-color: rgba(0,0,0,0.4);
        padding: 1rem;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

    
}