/* GENERAL */

main > div {
    width: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* max view on large screen */
main > div > div {
    max-width: 1080px;
}

main div {
    margin: auto;
    
}

/* Hide on mobile */
.desktop-only {
    display: none;
}
/* HERO CONTAINER */

/* outer container */
.homepage-hero-container {
    padding-left: 0px;
    padding-right: 0px;
    height: calc(100vh - 73px);
    background-image: linear-gradient(hsla(0, 0%, 27%, 0.4), hsla(0, 0%, 27%, 0.4)), url("../../images/banners/ballerina-toes-mobile.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--color-3);   
}

/* inner container */
.homepage-hero-container > div {
    margin: 40vh 2.5rem;
    transform: translateY(-50%);
}

/* horizontal line */
.homepage-hero-container hr {
    width: 90px;
    margin: auto;
    border-width: 1px;
    border-color: var(--color-3);
    background-color: var(--color-3);
}

/* button */
.homepage-hero-container a {
    margin: 2.5rem auto;
    height: calc(54px);
    width: calc(130px);
    border-radius: 2.5px;
    border: none;
    cursor: pointer;
    background-color: var(--color-3);
    color: var(--color-2);
    transition: all 0.4s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-hero-container a:hover {
    color: var(--color-7);
    background-color: var(--color-2);
    text-decoration: underline;    
}

.homepage-hero-container a:active {
    opacity: 0.4;
}

/* VIDEO CONTAINER */

/* VIDEO CONTAINER */
.homepage-video-container {
    width: 100%;
    background-color: var(--color-2);
    color: var(--color-3);
    text-align: center;
}

.homepage-video-container .title-container {
    margin-bottom: 2.5rem;
}

/* Link */
.homepage-video-container a {
    color: inherit;
    padding: 10px;
    color: var(--color-3);
}
.homepage-video-container a:hover{
    text-decoration-color: #fff;
    text-decoration: underline;
    color: var(--color-2);
    background-color: var(--color-1);
    
}
.homepage-video-container a:active{
    text-decoration-color: #fff;
    text-decoration: underline;
    background-color: rgba(255,255,255,0.2);
    color: var(--color-2);

}

/* Wrapper  that hides extra margin used to give ratio to the video */
.video-wrapper-hides-overflow {
    width: 100%;
    max-height: 562.5px; 
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

/* creates ratio to the video */
.video-wrapper {
    width: 100%;
    max-width: 1000px;
    padding-top: 56.25%;

    height: 0px;
    position: relative;
}
.homepage-video-container iframe {  
    width: 100%;
    height: 100%;
    max-height: 562.5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 7px 5px -5px rgba(119, 82, 82, 0.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);
}


/* GALLERY */

.homepage-gallery-container {
    margin: auto;
    background-color: var(--color-3);
}

.homepage-gallery-container h2 {
    padding-bottom: 20px;
}
/* Display images as a grid */
.homepage-gallery-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(20px + 0.5rem);
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
}


/* Div wrapping the image */
.image-wrapper {
    height: 40vw;
    width: 100%;
    overflow: hidden;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports (aspect-ratio: 1) {
    .image-wrapper {
        height: auto;
        aspect-ratio: 1;
    }
}

/* Div holding the image*/
.image-container {
    height: 100%;
    width: 100%;
    background-position: center ;
    background-size: cover;
    transition: all 0.4s;
    /* cursor: pointer; */
}

/* Zoom on hover  */
.image-container:hover {
    height: 110%;
    width: 110%;
}


/* Choose images to be displayed */
.image-wrapper:nth-child(1) .image-container {
    background-image: url("../../images/gallery/Street Dance 1 (Small).jpg");
}
.image-wrapper:nth-child(2) .image-container {
    background-image: url("../../images/gallery/Street Dance 2 (Small).jpg");
}
.image-wrapper:nth-child(3) .image-container {
    background-image: url("../../images/gallery/Ballet 1 (Small).jpg");
}
.image-wrapper:nth-child(4) .image-container {
    background-image: url("../../images/gallery/Ballet 18 (Small).jpg");
}
.image-wrapper:nth-child(5) .image-container {
    background-image: url("../../images/gallery/Tap 7 (Small).jpg");
}
.image-wrapper:nth-child(6) .image-container {
    background-image: url("../../images/gallery/Street Dance 4 (Small).jpg");
}

/* link for gallery*/

.homepage-gallery-container .view-more {
    grid-column: 1 / 3;
    margin-bottom: -1rem;
}
.homepage-gallery-container .view-more a {
    padding: 10px
}
.homepage-gallery-container .view-more a:hover {
    background-color: var(--color-2);
    color: var(--color-3);
}
.homepage-gallery-container .view-more a:active {
    background-color: var(--color-1a);
    color: var(--color-3);
}

/* LOCATION */
.homepage-location-container {
    background: linear-gradient(to bottom, var(--color-1) 60%, var(--color-2) 60% );
    padding-bottom: 0px;
    
}
.homepage-location-container >div {
    width: 100%;
    max-width: 1080px;
}

/* div wrapping the map */
.homepage-map-container {
    width: 100%;
    padding-top: 66%;
    height: 0px;
    position: relative;
}

/* map */
.homepage-map-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 7px 5px -5px rgba(119, 82, 82, 0.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);
}




/* DESKTOP VIEW */

@media screen and (min-width: 750px) {
    
    /* VIDEO */
    .homepage-video-container > div {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 2fr;
        grid-template-rows: 1fr 30px;
        gap: 0rem 2.5rem;
    }

    .homepage-video-container .title-container {
        margin-top: unset;
    }

    .homepage-video-container .view-more {
        grid-column-start: 2;
    }

 
    /* GALLERY */

    /* grid - 3 columns */
    .homepage-gallery-container > div {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    /* Div wrapping the image */
    .image-wrapper {
        height: 24vw;
        max-height: 290px;
        width: 24vw;
        max-width: 290px;
        overflow: hidden;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @supports (aspect-ratio: 1) {
        .image-wrapper {
            height: auto;
            width: 100%;
            max-width: revert;
            max-height: revert;
            aspect-ratio: 1;
        }
    }

    /* Div holding the image*/
    .image-container {
        height: 100%;
        width: 100%;
    }

    /* Zoom on hover  */
    .image-container:hover {
        height: 110%;
        width: 110%;
    }
    /* Link to view more photos */
    .homepage-gallery-container .view-more {
        grid-column: 1 / 4;
    }

    /* Show last two photos on desktop */
    .desktop-only {
        display: unset;
    }

    .homepage-gallery-container .view-more {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    /* LOCATION */

    /* location container */
    .homepage-location-container {
        background: linear-gradient(to left, var(--color-1) 60%, var(--color-2) 60% );
    }

    .homepage-location-container h2 {
        text-align: start;
    }

    /* div inside location container */
    .homepage-location-container > div{
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 2.5rem;
        width: 100%;
    }
    /* div containing address and contact info */
    .homepage-location-container > div:first-child{
        margin-top: revert;
    }

    /* container holding the map */
    .homepage-map-container {
        margin: 0px 2.5rem;
        width: 100%;
        padding-top: 40%;
        height: 0px;
        position: relative;
    }

    /* map */
    .homepage-map-container iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 7px 5px -5px rgba(119, 82, 82, 0.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);
    }

}