main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
}

h2 {
  text-align: center;
}

/* HERO CONTAINER */

.homepage-hero-container {
    background-color: var(color-1);
    background-image: linear-gradient(hsla(0, 0%, 27%, 0.4), hsla(0, 0%, 27%, 0.4)), url("../../images/banners/ballerina-toes-mobile.jpg");
    background-position: bottom;
    background-size: cover;
    color: white;

    width: 100vw;
    height: 100vh;
    justify-content: center;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.homepage-hero-container hr {
    width: 70px;
    margin: 3rem;
    border-color: var(--color-3);
    border-width: 1px;
}

.homepage-hero-container a {
    margin: 3rem;
    height: 5.4rem;
    width: 14rem;
    border-radius: 2.5px;
    border: none;
    cursor: pointer;
    background-color: var(--color-1);
    color: var(--color-2);
    transition: all 0.4s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-hero-container a:hover {
    color: var(--color-1);
    background-color: var(--color-2);
    text-decoration: underline;    
}

.homepage-hero-container a:active {
    opacity: 0.4;
}

/* BANNER CONTAINER */

.homepage-banner-container {
    display: flex;
    flex-direction: column;
    padding: var(--space-3) var(--space-1);
    background-color: var(--color-2);
    color: var(--color-1);
}

.homepage-banner-container h2 {
    color: var(--color-1);
}

.homepage-banner-container img {
    width: 100%;
    max-width: 470px;
}

.homepage-banner-container > div:nth-child(2) {
    padding-top: var(--space-1);
}

/* GALLERY CONTAINER */

.homepage-gallery-container {
    padding: var(--space-2); 
    margin: auto;
}

.homepage-banner-container h2 {
    text-align: center;
    padding-bottom: var(--space-1);
}

/* Display images as a grid */

.homepage-gallery-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--space-2);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.homepage-gallery-container h2 {
    padding-bottom: var(--space-1);
}

/* Wrap images with a div that prevents overflow,
so when hovered they zoom in but don't push the other images away */

.wrapper-image-container {
    height: 40vw;
    width: 40vw;
    overflow: hidden;
}

/* How should each image be displayed */

.image-container {
    height: 40vw;
    width: 40vw;
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
    cursor: pointer;
}

/* Zoom on hover  */

.image-container:hover {
    height: 44vw;
    width: 44vw;
}

/* Choose images to be displayed */

.wrapper-image-container:nth-child(1) .image-container {
    background-image: url("../../images/gallery/studio/stuido-1.webp");
}
.wrapper-image-container:nth-child(2) .image-container {
    background-image: url("../../images/gallery/studio/studio-2.webp");
}
.wrapper-image-container:nth-child(3) .image-container {
    background-image: url("../../images/gallery/studio/stuido-1.webp");
}
.wrapper-image-container:nth-child(4) .image-container {
    background-image: url("../../images/gallery/studio/studio-2.webp");
}
.wrapper-image-container:nth-child(5) .image-container {
    background-image: url("../../images/gallery/studio/stuido-1.webp");
}
.wrapper-image-container:nth-child(6) .image-container {
    background-image: url("../../images/gallery/studio/studio-2.webp");
}

/* VIDEO CONTAINER */
.homepage-video-container {
    background-color: var(--color-4);
}
.homepage-video-container div {
    height: auto;
    width: 100vw;
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
    display: flex;
    justify-content: center;
    align-items: center;
}


.homepage-video-container iframe {  
    width: calc(100vw * 0.857);
    height: calc(56.25vw * 0.857);
    box-shadow: 0 7px 5px -5px rgba(0,0,0,.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);

}

/* ADDRESS CONTAINER */

.homepage-address-container {

  background-color: var(--color-3);
  position: relative;

}

.homepage-address-container > div:first-child{
    width: 100vw;
    height: calc(29vw + 100px);
    padding: var(--space-2);
    padding-top: var(--space-1);
}


.homepage-address-container h2 {
    margin-bottom: var(--space-1);
}

.homepage-map-container {
  width: 100vw;
  background-color: var(--color-1);
}


/* Width and height of map */

.map {
    height: 36vw;
}

.map iframe{
    position: absolute;
    bottom: var(--space-2);
    left: 50%;
    transform: translate(-50%, 0%);
    width: calc(100vw * 0.857);
    height: calc(56.25vw * 0.857);
    box-shadow: 0 7px 5px -5px rgba(0,0,0,.19),0 6px 8px -2px rgba(0,0,0,.18),0 6px 6px 0 rgba(0,0,0,.1);

}